<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- dd -->
	<mapper namespace="com.gang.home.board.qna.QnaMapper">
		<select id="getList" resultType="QnaVO" parameterType="Pager">
			SELECT * FROM QNA 
			WHERE TITLE LIKE CONCAT ('%',#{search},'%')
			ORDER BY NUM DESC LIMIT #{startRow},#{lastRow}
		</select>
		
		<select id="getCount" resultType="java.lang.Long">
			SELECT COUNT(*) FROM QNA
		</select>
	</mapper>
	